
.u-section-2 {
  min-height: 718px;
}
.u-section-2 .u-shape-1 {
  width: 1180px;
  height: 133px;
  margin: 585px 0 0 auto;
}
.u-section-2 .u-image-1 {
  width: 732px;
  height: 661px;
  margin: -718px calc(((100% - 1140px) / 2)) 0 auto;
}
.u-section-2 .u-group-1 {
  width: 334px;
  min-height: 239px;
  margin: -342px auto 0 calc(((100% - 1140px) / 2) + 74px);
}
.u-section-2 .u-text-1 {
  margin: 32px 20px 0;
}
.u-section-2 .u-line-1 {
  width: 57px;
  transform-origin: right center 0;
  margin: -164px auto 25px -43px;
}
.u-section-2 .u-group-2 {
  width: 678px;
  min-height: 277px;
  height: auto;
  margin: -522px auto 60px calc(((100% - 1140px) / 2));
}
.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 20px;
}
.u-section-2 .u-text-2 {
  font-size: 4.0625rem;
  margin: 20px 0;
}
@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 909px;
  }
  .u-section-2 .u-image-1 {
    width: 604px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
  .u-section-2 .u-group-1 {
    width: 275px;
    margin-left: calc(((100% - 1140px) / 2) + 161px);
  }
  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .u-section-2 .u-line-1 {
    width: 47px;
    margin-top: -188px;
    margin-bottom: 194px;
    margin-left: -38px;
  }
  .u-section-2 .u-group-2 {
    width: 591px;
    min-height: 283px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
  .u-section-2 .u-container-layout-2 {
    padding-right: 16px;
  }
  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .u-section-2 {
    min-height: 707px;
  }
  .u-section-2 .u-shape-1 {
    width: 708px;
    height: 145px;
    margin-top: 525px;
  }
  .u-section-2 .u-image-1 {
    width: 462px;
    height: 582px;
    margin-top: -669px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
  .u-section-2 .u-group-1 {
    width: 217px;
    min-height: 319px;
    margin-top: -368px;
    margin-left: calc(((100% - 1140px) / 2) + 251px);
  }
  .u-section-2 .u-text-1 {
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 13px;
  }
  .u-section-2 .u-line-1 {
    width: 36px;
    margin-top: -239px;
    margin-bottom: 277px;
    margin-left: -36px;
  }
  .u-section-2 .u-group-2 {
    width: 503px;
    min-height: 195px;
    margin-top: -514px;
    margin-left: calc(((100% - 720px) / 2));
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 13px;
  }
  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .u-section-2 {
    min-height: 545px;
  }
  .u-section-2 .u-shape-1 {
    height: 199px;
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 383px;
  }
  .u-section-2 .u-image-1 {
    width: 288px;
    height: 437px;
    margin-top: -501px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
  .u-section-2 .u-group-1 {
    min-height: 292px;
    margin-top: -278px;
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }
  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-2 .u-line-1 {
    width: 34px;
    margin-top: -236px;
    margin-bottom: 245px;
    margin-left: -34px;
  }
  .u-section-2 .u-group-2 {
    width: 364px;
    margin-top: -496px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
  .u-section-2 .u-container-layout-2 {
    padding-right: 9px;
  }
}
@media (max-width: 575px) {
  .u-section-2 {
    min-height: 696px;
  }
  .u-section-2 .u-shape-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-2 .u-image-1 {
    height: 310px;
    width: 356px;
    margin-top: -560px;
    margin-right: 0;
  }
  .u-section-2 .u-group-1 {
    width: 318px;
    min-height: 170px;
    margin-top: 40px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: auto;
  }
  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-2 .u-line-1 {
    width: 22px;
    transform-origin: left center 0;
    margin-top: -140px;
    margin-bottom: 159px;
    margin-left: -22px;
  }
  .u-section-2 .u-group-2 {
    min-height: 116px;
    width: 368px;
    margin-top: -635px;
    margin-right: 0;
    margin-left: auto;
  }
  .u-section-2 .u-container-layout-2 {
    padding-right: 6px;
  }
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 0;
  }
}
.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1050px);
  left: auto;
  right: 0;
}
.u-section-3 .u-sheet-1 {
  min-height: 833px;
  margin: 0 auto;
}
.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 80px 0;
}
.u-section-3 .u-layout-cell-1 {
  min-height: 783px;
}
.u-section-3 .u-image-1 {
  height: 546px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
  margin: 45px auto 0 0;
}
.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 20px 0;
}
.u-section-3 .u-text-2 {
  margin: 27px 20px 16px;
}
.u-section-3 .u-layout-cell-2 {
  min-height: 320px;
}
.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-3 .u-image-2 {
  width: 312px;
  height: 119px;
  margin: 0 auto 0 -20px;
}
.u-section-3 .u-text-3 {
  margin: -74px 0 0;
}
.u-section-3 .u-text-4 {
  margin: 51px 0 25px;
}
.u-section-3 .u-link-1 {
  margin-left: 0;
  margin-right: 676px;
  padding-bottom: 2px;
}
.u-section-3 .u-layout-cell-3 {
  min-height: 463px;
}
.u-section-3 .u-image-3 {
  height: 271px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 20px 0;
}
.u-section-3 .u-text-6 {
  margin: 27px 20px 16px;
}
.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 463px;
}
.u-section-3 .u-image-4 {
  height: 271px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 20px 0;
}
.u-section-3 .u-text-8 {
  margin: 27px 20px 16px;
}
.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 463px;
}
.u-section-3 .u-image-5 {
  height: 271px;
  margin: 0 auto 0 0;
}
.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 20px 20px 0;
}
.u-section-3 .u-text-10 {
  margin: 27px 20px 16px;
}
@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 859px);
  }
  .u-section-3 .u-sheet-1 {
    min-height: 883px;
  }
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 815px;
  }
  .u-section-3 .u-image-1 {
    height: 532px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 345px;
  }
  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-3 .u-image-2 {
    width: 241px;
    margin-left: -16px;
  }
  .u-section-3 .u-text-3 {
    margin-top: -81px;
  }
  .u-section-3 .u-text-4 {
    margin-top: 58px;
    margin-bottom: 0;
  }
  .u-section-3 .u-link-1 {
    position: relative;
    margin-right: 544px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 470px;
  }
  .u-section-3 .u-image-3 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 23px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 470px;
  }
  .u-section-3 .u-image-4 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-7 {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .u-section-3 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 23px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 470px;
  }
  .u-section-3 .u-image-5 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-9 {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .u-section-3 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 23px;
  }
}
@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 658px);
  }
  .u-section-3 .u-sheet-1 {
    min-height: 1666px;
  }
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 783px;
  }
  .u-section-3 .u-image-1 {
    height: 591px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 16px;
  }
  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-3 .u-image-2 {
    width: 244px;
    height: 139px;
    margin-left: -13px;
  }
  .u-section-3 .u-text-3 {
    margin-top: -94px;
  }
  .u-section-3 .u-text-4 {
    margin-top: 51px;
    margin-bottom: 25px;
  }
  .u-section-3 .u-link-1 {
    margin-right: 621px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 488px;
  }
  .u-section-3 .u-image-3 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 16px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 488px;
  }
  .u-section-3 .u-image-4 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }
  .u-section-3 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 16px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 488px;
  }
  .u-section-3 .u-image-5 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }
  .u-section-3 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }
  .u-section-3 .u-sheet-1 {
    min-height: 2592px;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 587px;
  }
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }
  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-3 .u-image-2 {
    width: 270px;
    height: 140px;
    margin-left: -9px;
  }
  .u-section-3 .u-text-3 {
    margin-top: -95px;
  }
  .u-section-3 .u-link-1 {
    margin-right: 449px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 1098px;
  }
  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 1098px;
  }
  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 1098px;
  }
  .u-section-3 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
  .u-section-3 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }
}
@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 357px;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-3 .u-image-2 {
    height: 170px;
    margin-left: -6px;
  }
  .u-section-3 .u-text-3 {
    margin-top: -125px;
  }
  .u-section-3 .u-link-1 {
    margin-right: 255px;
  }
  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
  .u-section-3 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
  .u-section-3 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
}
.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1042px);
  height: 338px;
  margin: 345px auto 0 0;
}
.u-section-4 .u-sheet-1 {
  min-height: 684px;
  margin: -683px auto 0;
}
.u-section-4 .u-image-1 {
  width: 848px;
  height: 484px;
  object-position: 100% 41.98%;
  background-position: 100% 41.98%;
  margin: -54px 0 0 auto;
}
.u-section-4 .u-group-1 {
  width: 476px;
  min-height: 268px;
  margin: -376px auto 0 0;
}
.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}
.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 25px 0;
}
.u-section-4 .u-layout-wrap-1 {
  width: 1042px;
  margin: 128px auto 22px 0;
}
.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 242px;
}
.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-4 .u-text-2 {
  margin: 7px 0 25px;
}
.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
}
.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 242px;
}
.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-4 .u-text-4 {
  margin: 7px 0 0;
}
.u-section-4 .u-text-5 {
  margin: 25px 0 5px;
}
.u-section-4 .u-layout-cell-3 {
  min-height: 242px;
  background-image: none;
}
.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-4 .u-text-6 {
  margin: 7px 0 0;
}
.u-section-4 .u-text-7 {
  margin: 25px 0 20px;
}
@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 859px);
    height: 407px;
  }
  .u-section-4 .u-sheet-1 {
    min-height: 752px;
    margin-top: -752px;
  }
  .u-section-4 .u-image-1 {
    width: 699px;
  }
  .u-section-4 .u-group-1 {
    width: 419px;
    min-height: 258px;
  }
  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 859px;
    margin-top: 143px;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 305px;
  }
  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-4 .u-text-2 {
    margin-top: 44px;
  }
  .u-section-4 .u-text-3 {
    position: relative;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 305px;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-4 .u-text-4 {
    margin-top: 44px;
  }
  .u-section-4 .u-text-5 {
    position: relative;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 305px;
  }
  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-4 .u-text-6 {
    margin-top: 44px;
  }
}
@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 658px);
    height: 477px;
  }
  .u-section-4 .u-sheet-1 {
    min-height: 822px;
    margin-top: -822px;
  }
  .u-section-4 .u-image-1 {
    width: 536px;
    object-position: 0% 41.98%;
    background-position: 0% 41.98%;
  }
  .u-section-4 .u-group-1 {
    width: 368px;
    min-height: 310px;
  }
  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 13px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 658px;
    margin-top: 96px;
    margin-bottom: 47px;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 345px;
  }
  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-4 .u-text-2 {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-4 .u-text-4 {
    margin-top: 27px;
  }
  .u-section-4 .u-text-5 {
    margin-bottom: 27px;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 345px;
  }
  .u-section-4 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-4 .u-text-6 {
    margin-top: 27px;
  }
  .u-section-4 .u-text-7 {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: 1151px;
    margin-top: 421px;
    margin-right: 0;
    margin-left: auto;
  }
  .u-section-4 .u-sheet-1 {
    min-height: 1572px;
    margin-top: -1572px;
  }
  .u-section-4 .u-image-1 {
    width: 490px;
    height: 442px;
    object-position: 52.74% 41.98%;
    background-position: 52.74% 41.98%;
    margin-top: 326px;
  }
  .u-section-4 .u-group-1 {
    min-height: 258px;
    width: 490px;
    margin-top: -714px;
    margin-right: 0;
    margin-left: auto;
  }
  .u-section-4 .u-container-layout-1 {
    padding-right: 9px;
  }
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 510px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 849px;
  }
  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-4 .u-text-2 {
    margin-top: 7px;
  }
  .u-section-4 .u-text-3 {
    margin-bottom: 20px;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 849px;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-4 .u-text-4 {
    margin-top: 14px;
  }
  .u-section-4 .u-text-5 {
    margin-bottom: 14px;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 849px;
  }
  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-4 .u-text-6 {
    margin-top: 14px;
  }
  .u-section-4 .u-text-7 {
    margin-bottom: 14px;
  }
}
@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    height: 1145px;
    margin-top: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-4 .u-sheet-1 {
    min-height: 1402px;
    margin-top: -1490px;
  }
  .u-section-4 .u-image-1 {
    height: 288px;
    object-position: 100% 41.98%;
    background-position: 100% 41.98%;
    margin-top: 308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-4 .u-group-1 {
    min-height: 218px;
    margin-top: -550px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-4 .u-container-layout-1 {
    padding-right: 6px;
  }
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 388px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-4 .u-text-2 {
    margin-bottom: 25px;
  }
  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-4 .u-text-4 {
    margin-top: 7px;
  }
  .u-section-4 .u-text-5 {
    margin-bottom: 5px;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-4 .u-text-6 {
    margin-top: 7px;
  }
  .u-section-4 .u-text-7 {
    margin-bottom: 20px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 683px;
  margin: 0 auto;
}
.u-section-5 .u-layout-wrap-1 {
  margin: 87px auto 70px 0;
}
.u-section-5 .u-image-1 {
  min-height: 625px;
  background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/b5340d019f36529ca422c8dc/ewmin.jpg");
}
.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 391px;
}
.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-5 .u-image-2 {
  width: 312px;
  height: 119px;
  margin: 0 auto 0 -20px;
}
.u-section-5 .u-text-1 {
  margin: -74px 0 0;
}
.u-section-5 .u-text-2 {
  margin: 51px 0 25px;
}
.u-section-5 .u-link-1 {
  margin-left: 0;
  margin-right: 676px;
  padding-bottom: 2px;
  margin-bottom: 0;
}
.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 234px;
}
.u-section-5 .u-image-3 {
  background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/d8d262deb3075ec0b09b3fad/photo1504801019156beabdea673be.jpg");
  min-height: 234px;
  background-position: 50% 50%;
}
@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
  }
  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-5 .u-image-2 {
    width: 257px;
    margin-left: -16px;
  }
  .u-section-5 .u-link-1 {
    position: relative;
    margin-right: 557px;
  }
}
@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1377px;
  }
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-5 .u-image-1 {
    min-height: 639px;
  }
  .u-section-5 .u-layout-cell-2 {
    min-height: 376px;
  }
  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-5 .u-image-2 {
    width: 267px;
    height: 139px;
    margin-left: -13px;
  }
  .u-section-5 .u-text-1 {
    margin-top: -94px;
  }
  .u-section-5 .u-link-1 {
    margin-right: 621px;
  }
  .u-section-5 .u-layout-cell-3 {
    min-height: 263px;
  }
  .u-section-5 .u-image-3 {
    min-height: 263px;
  }
}
@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 683px;
  }
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-5 .u-image-1 {
    min-height: 625px;
  }
  .u-section-5 .u-layout-cell-2 {
    min-height: 282px;
  }
  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-5 .u-image-2 {
    width: 270px;
    height: 140px;
    margin-left: -9px;
  }
  .u-section-5 .u-text-1 {
    margin-top: -95px;
  }
  .u-section-5 .u-link-1 {
    margin-right: 449px;
  }
  .u-section-5 .u-layout-cell-3 {
    min-height: 234px;
  }
  .u-section-5 .u-image-3 {
    min-height: 234px;
  }
}
@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1495px;
  }
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-5 .u-image-2 {
    height: 170px;
    margin-left: -6px;
  }
  .u-section-5 .u-text-1 {
    margin-top: -125px;
  }
  .u-section-5 .u-link-1 {
    margin-right: 255px;
  }
}
.u-section-6 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 1042px);
  height: 286px;
  margin: 411px 0 0 auto;
}
.u-section-6 .u-sheet-1 {
  min-height: 697px;
  margin: -697px auto 0;
}
.u-section-6 .u-layout-wrap-1 {
  margin: 86px auto 0 0;
}
.u-section-6 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}
.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-6 .u-image-1 {
  width: 196px;
  height: 105px;
  margin: 27px auto 0 -20px;
}
.u-section-6 .u-text-1 {
  margin: -74px 0 0;
}
.u-section-6 .u-text-2 {
  margin: 51px 0 0;
}
.u-section-6 .u-link-1 {
  padding-bottom: 2px;
  margin: 25px 423px 27px 0;
}
.u-section-6 .u-layout-cell-2 {
  min-height: 431px;
}
.u-section-6 .u-image-2 {
  height: 378px;
  margin: 0 auto 23px 0;
}
.u-section-6 .u-layout-cell-3 {
  min-height: 431px;
}
.u-section-6 .u-image-3 {
  height: 378px;
  margin: 0 auto 23px 0;
}
.u-section-6 .u-group-1 {
  width: 575px;
  min-height: 176px;
  margin: 0 0 34px auto;
}
.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}
.u-section-6 .u-text-4 {
  margin: 20px 0;
}
@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 859px);
    height: 271px;
    margin-top: 426px;
  }
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-layout-cell-1 {
    min-height: 440px;
  }
  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-6 .u-image-1 {
    width: 257px;
    height: 119px;
    margin-top: 0;
    margin-left: -16px;
  }
  .u-section-6 .u-text-2 {
    margin-bottom: 25px;
  }
  .u-section-6 .u-link-1 {
    position: relative;
    margin-right: 557px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 440px;
    background-position: 50% 50%;
  }
  .u-section-6 .u-image-2 {
    height: 329px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-layout-cell-3 {
    min-height: 440px;
    background-position: 50% 50%;
  }
  .u-section-6 .u-image-3 {
    height: 329px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-group-1 {
    width: 471px;
    min-height: 178px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: 30px;
  }
  .u-section-6 .u-text-4 {
    position: relative;
    margin-top: 25px;
  }
}
@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 658px);
    height: 310px;
    margin-top: 302px;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 612px;
    margin-top: -612px;
  }
  .u-section-6 .u-layout-cell-1 {
    min-height: 438px;
  }
  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-6 .u-image-1 {
    width: 197px;
    margin-top: 10px;
    margin-left: -13px;
  }
  .u-section-6 .u-text-2 {
    margin-bottom: 0;
  }
  .u-section-6 .u-link-1 {
    margin-top: 25px;
    margin-right: 427px;
    margin-bottom: 10px;
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 438px;
  }
  .u-section-6 .u-image-2 {
    height: 278px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-layout-cell-3 {
    min-height: 438px;
  }
  .u-section-6 .u-image-3 {
    height: 278px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-group-1 {
    width: 358px;
    min-height: 203px;
    margin-top: -108px;
    margin-bottom: 40px;
  }
  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .u-section-6 .u-text-4 {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    height: 1320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 1622px;
    margin-top: -1622px;
  }
  .u-section-6 .u-layout-cell-1 {
    min-height: 680px;
  }
  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
  .u-section-6 .u-image-1 {
    width: 270px;
    height: 170px;
    margin-top: 0;
    margin-left: -9px;
  }
  .u-section-6 .u-text-1 {
    margin-top: -125px;
  }
  .u-section-6 .u-text-2 {
    margin-bottom: 25px;
  }
  .u-section-6 .u-link-1 {
    margin-right: 449px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .u-section-6 .u-layout-cell-2 {
    min-height: 431px;
  }
  .u-section-6 .u-image-2 {
    height: 378px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-layout-cell-3 {
    min-height: 431px;
  }
  .u-section-6 .u-image-3 {
    height: 378px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-group-1 {
    margin-top: 17px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    height: 1327px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 1629px;
    margin-top: -1629px;
  }
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-6 .u-image-1 {
    width: 155px;
    height: 119px;
    margin-left: -6px;
  }
  .u-section-6 .u-text-1 {
    margin-top: -74px;
  }
  .u-section-6 .u-link-1 {
    margin-right: 202px;
  }
  .u-section-6 .u-group-1 {
    min-height: 134px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
